/* crumbnav Base Styles */
.crumbnav {
  position: relative; }
  .crumbnav.sn-open-roots .active {
    display: none; }
  .crumbnav.sn-open-roots .active.crumbnav-crumb-out-0 {
    display: block; }
  .crumbnav .sn-open-roots {
    display: block; }
    .crumbnav .sn-open-roots.crumbnav__parent.crumbnav-crumb > a {
      float: none; }

.crumbnav-ul, .crumbnav-ul ul {
  position: relative;
  padding: 0; }
.crumbnav-ul li {
  position: relative;
  display: none;
  min-height: 50px;
  line-height: 50px; }
.crumbnav-ul li.active a {
  clear: both; }
.crumbnav-ul li > a {
  position: relative;
  display: block;
  height: 100%; }
.crumbnav-ul > .crumbnav__button,
.crumbnav-ul .crumbnav-crumb-in-1 > .crumbnav__button {
  display: block; }
.crumbnav-ul .crumbnav-crumb-in-1.crumbnav-crumb-out-0 > .crumbnav__button {
  display: none; }
.crumbnav-ul li.crumbnav-crumb {
  display: block; }
.crumbnav-ul li.sn-open-roots .crumbnav-crumb {
  display: none; }

.crumbnav-crumb-in-1 > .crumbnav__button {
  top: 50px; }

.crumbnav--multiple-roots .crumbnav__root > a {
  padding-left: 50px; }

.crumbnav-crumb-out-0 > a {
  z-index: 5; }

.crumbnav-crumb-out-1 > a {
  z-index: 4; }

.crumbnav-crumb-out-2 > a {
  z-index: 3; }

.crumbnav-crumb-out-3 > a {
  z-index: 2; }

.crumbnav-crumb-out-4 > a {
  z-index: 1; }

.crumbnav.sn-open .crumbnav__button,
.crumbnav-crumb-in-1 .crumbnav__button,
.crumbnav__button.sn-open {
  display: block; }

.crumbnav.sn-open .crumbnav__button {
  display: block; }
.crumbnav.sn-open .crumbnav-crumb > a {
  float: none; }
.crumbnav.sn-open .crumbnav-ul.sn-open .crumbnav-crumb-out-1 > .crumbnav__button {
  top: 0; }
.crumbnav.sn-open li.crumbnav-crumb, .crumbnav.sn-open li.active {
  display: none; }
.crumbnav.sn-open li.crumbnav-crumb.sn-open,
.crumbnav.sn-open li.crumbnav-crumb.sn-open > ul > li,
.crumbnav.sn-open li.active.sn-open,
.crumbnav.sn-open .crumbnav-crumb-in-1.crumbnav-crumb-out-0 .crumbnav__button {
  display: block; }
.crumbnav.sn-open .crumbnav-crumb-in-1 > .crumbnav__button {
  top: 0; }

.crumbnav-crumbsn-open > ul > li {
  display: block; }

.crumbnav__parent.crumbnav-crumb > a {
  float: left; }
.crumbnav__parent.crumbnav-crumb-in-1 > a, .crumbnav__parent.crumbnav-crumb.active > a {
  float: none;
  overflow: hidden; }

.crumbnav-crumb.sn-open > a {
  float: none; }

.crumbnav__parent.sn-open > ul > li {
  display: block; }

.crumbnav__button {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  display: none;
  cursor: pointer; }
  .crumbnav__button:hover {
    cursor: pointer; }
  .crumbnav__button > i {
    position: relative;
    height: 50px;
    width: 50px;
    display: block; }

.crumbnav__button--root-menu,
.crumbnav__button--menu {
  display: block;
  height: 50px; }

.crumbnav__button--root-menu {
  left: 0;
  right: inherit; }

/* crumbnav Theme Styles */
.crumbnav-ul li.active > a {
  color: #62c657;
  font-weight: bold; }
.crumbnav-ul li > a {
  padding: 0 1em;
  color: #eeeeee;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
.crumbnav-ul > li > a {
  background: #3a3a3a; }
.crumbnav-ul ul li > a {
  background: #585858; }
.crumbnav-ul ul ul li > a {
  background: #6d6d6d; }
.crumbnav-ul ul ul ul > li > a {
  background: #969696; }
.crumbnav-ul ul ul ul ul > li > a {
  background: #acacac; }

.crumbnav-crumb > a:after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border: 10px solid;
  border-color: transparent;
  border-left-color: red;
  right: -20px;
  top: 50%;
  margin-top: -10px;
  z-index: 1; }
.crumbnav-crumb.crumbnav-crumb-out-0 > a:after {
  border-left-color: #3a3a3a; }
.crumbnav-crumb.crumbnav-crumb-out-1 > a:after {
  border-left-color: #585858; }
.crumbnav-crumb.crumbnav-crumb-out-2 > a:after {
  border-left-color: #6d6d6d; }
.crumbnav-crumb.crumbnav-crumb-out-3 > a:after {
  border-left-color: #6d6d6d; }
.crumbnav-crumb.active > a:after {
  border-left-color: transparent; }

.crumbnav-crumb-in-0 > a {
  padding-left: 30px; }

.crumbnav--multiple-roots .crumbnav-crumb-in-0 > a {
  padding-left: 50px; }

.crumbnav .sn-open-roots > a {
  padding-left: 50px; }
.crumbnav .sn-open-roots.crumbnav-crumb > a {
  color: #62c657; }

.crumbnav-crumb.sn-open ul li > a {
  padding-left: 30px; }
.crumbnav-crumb.sn-open ul ul li > a {
  padding-left: 45px; }
.crumbnav-crumb.sn-open ul ul ul > li > a {
  padding-left: 60px; }
.crumbnav-crumb.sn-open ul ul ul ul > li > a {
  padding-left: 75px; }

.crumbnav.sn-open ul li > a {
  padding-left: 30px; }
.crumbnav.sn-open ul ul li > a {
  padding-left: 45px; }
.crumbnav.sn-open ul ul ul > li > a {
  padding-left: 60px; }
.crumbnav.sn-open ul ul ul ul > li > a {
  padding-left: 75px; }
.crumbnav.sn-open .crumbnav-crumb > a:after {
  border-color: transparent; }
.crumbnav.sn-open .crumbnav-crumb:not(.crumbnav-crumb-out-0):after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border: 10px solid;
  border-color: transparent;
  border-top-color: #62c657;
  top: 0;
  left: 50%;
  margin-left: -10px;
  z-index: 100; }

.crumbnav.crumbnav--multiple-roots.sn-open-roots .crumbnav-crumb > a:after {
  border-color: transparent; }

.crumbnav.crumbnav--multiple-roots.sn-open ul li > a {
  padding-left: 50px; }
.crumbnav.crumbnav--multiple-roots.sn-open ul ul li > a {
  padding-left: 65px; }
.crumbnav.crumbnav--multiple-roots.sn-open ul ul ul > li > a {
  padding-left: 80px; }
.crumbnav.crumbnav--multiple-roots.sn-open ul ul ul ul > li > a {
  padding-left: 95px; }
.crumbnav.crumbnav--multiple-roots.sn-open ul ul ul ul ul > li > a {
  padding-left: 110px; }

.crumbnav.crumbnav--multiple-roots .crumbnav-crumb.sn-open ul li > a {
  padding-left: 65px; }
.crumbnav.crumbnav--multiple-roots .crumbnav-crumb.sn-open ul ul li > a {
  padding-left: 80px; }
.crumbnav.crumbnav--multiple-roots .crumbnav-crumb.sn-open ul ul ul > li > a {
  padding-left: 95px; }
.crumbnav.crumbnav--multiple-roots .crumbnav-crumb.sn-open ul ul ul ul > li > a {
  padding-left: 110px; }
.crumbnav.crumbnav--multiple-roots .crumbnav-crumb.sn-open ul ul ul ul ul > li > a {
  padding-left: 125px; }

.crumbnav__button {
  background: #acaca1;
  background: rgba(0, 0, 0, 0.075);
  text-align: center; }
  .crumbnav__button > i {
    border: none;
    color: #666; }

.crumbnav__button--menu > i {
  display: block;
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border: 10px solid;
  border-color: transparent;
  border-top-color: #62c657;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -10px; }

.crumbnav__button--menu.sn-open > i {
  display: block;
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border: 10px solid;
  border-color: transparent;
  border-bottom-color: #62c657;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -10px; }

.crumbnav__button--root-menu > i {
  display: block;
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border: 10px solid;
  border-color: transparent;
  border-right-color: #62c657;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -15px; }

.crumbnav__button--root-menu.sn-open-roots > i {
  display: block;
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border: 10px solid;
  border-color: transparent;
  border-left-color: #62c657;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -5px; }

.crumbnav__parent > .crumbnav__button {
  background: #acaca1;
  background: rgba(0, 0, 0, 0.075);
  text-align: center; }
  .crumbnav__parent > .crumbnav__button > i {
    border: none;
    color: #666;
    background: url("../img/plus.png") center center no-repeat; }

.crumbnav__parent > .crumbnav__button.sn-open > i {
  background: url("../img/minus.png") center center no-repeat; }

/*# sourceMappingURL=crumbnav.css.map */
