/* crumbnav Base Styles */

.no-js {
  //TODO Make no-js mode better.
}

.#{$openClass} {
  > ul > li {
    display: block;
  }
}

.#{$closedClass} {
  > ul > li {
    display: none;
  }
}

.#{$firstLevelClass}.#{$breadcrumbClass}-length-0 {
  .#{$title} {
    display: block;
  }
  &.#{$openClass} .#{$topModifier} {
    display: block;
  }
}

// Hide other top level items
// TODO items without children are not marked as top level.
.#{$nav}.#{$openClass} > ul > .#{$item}:not(.#{$breadcrumbClass}) {
  display: none;
}