/* crumbnav Base Styles */

.no-js {
  //TODO Make no-js mode better.
}

.#{$navClass} {
  position: relative;
  &.#{$rootsOpenClass} {
    .#{$currentClass} {
      .js & {
        display: none;
      }
    }
    .#{$currentClass}.#{$breadcrumbClass}-out-0 {
      display: block;
    }
  }
  .#{$rootsOpenClass} {
    display: block;
    //TODO Refactor?
    &.#{$parentClass}.#{$breadcrumbClass} > a {
      float: none;
    }
  }

  ul {
    position: relative;
    list-style: none;
    padding: 0 0 0 2em;
    .js & {
      padding: 0;
    }
  }
  li {
    min-height: $elementHeight;
    line-height: $elementHeight;
  }
  li > a {
    position: relative;
    display: block;
    white-space: nowrap;
  }

  // Show contextual menu button (+)
  & > ul > .#{$buttonClass},
  .#{$breadcrumbClass}-in-1 > .#{$buttonClass} {
    display: block;
  }
  // Hide contextual menu button (+), if the menu is a second level menu
  .#{$breadcrumbClass}-in-1.#{$breadcrumbClass}-out-0 > .#{$buttonClass} {
    display: none;
  }
  &.#{$closedClass} li.#{$breadcrumbClass} {
    display: block;
  }

}
.#{$topParentClass},
.#{$parentClass} {
  position: relative;
}

.#{$moreMenuClass} {
  position: absolute;
  right: 0;
  top: 0;
}
.#{$moreMenuClass}__popup {
  display: none;
  position: absolute;
  top: $elementHeight;
  right: 0;
  > li {
    display: block;
  }
  .#{$buttonClass} {
    display: none;
  }
  .#{$openClass} & {
    display: block;
  }
}

// Current item
.#{$currentClass} a {
  clear: both;
  // If large:
  .#{$largeClass} & {
    clear: none;
  }
}

.#{$largeClass}.#{$closedClass} .#{$breadcrumbClass}-in-1.#{$closedClass} {
  //Prevent horizontal contextual links list from
  //overlapping with the main menu
  padding-right: $elementHeight;
  //Hide current level button
  > .#{$buttonClass} {
    display: none;
  }

  .js & > ul {
    //Padding preventing overlap with more button
    padding-right: $elementHeight;
  }
}

// Current item siblings
.#{$breadcrumbClass}-in-1 > ul > li {

  // If large and closed:
  .#{$largeClass}.#{$closedClass} & {
    display: block;
    float: left;
    > .#{$buttonParentClass} {
      display: none;
    }
  }

}

//Contextual submenu (+) positioned under the menu button (arrow down)
.#{$breadcrumbClass}-in-1 > .#{$buttonClass} {
  top: $elementHeight;
}

//Make breadcrumb links clickable
.#{$breadcrumbClass}-out-0 > a {z-index: 5;}
.#{$breadcrumbClass}-out-1 > a {z-index: 4;}
.#{$breadcrumbClass}-out-2 > a {z-index: 3;}
.#{$breadcrumbClass}-out-3 > a {z-index: 2;}
.#{$breadcrumbClass}-out-4 > a {z-index: 1;}


// Menu open
.#{$navClass}.#{$openClass} {

  .#{$buttonClass} {
    display: block;
  }
  .#{$breadcrumbClass} > a {
    float: none;
  }
  .#{$breadcrumbClass}-out-1 > .#{$buttonClass} {
    top: 0;
  }
  li.#{$breadcrumbClass}, li.#{$currentClass} {
    display: none;
  }
  li.#{$breadcrumbClass}.#{$openClass},
  li.#{$breadcrumbClass}.#{$openClass} > ul > li,
  li.#{$currentClass}.#{$openClass}{
    display: block;
  }

  .#{$breadcrumbClass}-in-1 > .#{$buttonClass} {
    top: 0;
  }
}

.#{$breadcrumbClass}#{$openClass} {
  > ul > li {
    display: block;
  }
}

.#{$parentClass}.#{$breadcrumbClass} {
  > a {
    float: left;
  }
  &-in-1 > a,
  &.#{$currentClass} > a {
    float: none;
    overflow: hidden;
    .#{$largeClass} & {
      float: left;
      overflow: visible;
    }
    .#{$largeClass}.#{$openClass} & {
      float: none;
    }
  }
}

.#{$breadcrumbClass}.#{$openClass} {
  > a {
    float: none;
  }
}
.#{$openClass} {
  > ul > li {
    display: block;
  }
}

.#{$closedClass} {
  > ul > li {
    display: none;
  }
}

.#{$buttonMoreMenuClass} {
  display: block;
}

.#{$firstLevelClass}.#{$largeClass} {
  //Top level menu
  > ul {
    display: flex;
    justify-content: space-around;
  }
  //Second level menu
  > ul > li {
    display: block;
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    > ul {
      display: none;
      flex-direction: column;
      justify-content: flex-start;
      > li {
        text-align: left;
        display: block;
        .#{$buttonClass} {
          display: block;
        }
      }
    }

    &:hover > ul {
      display: flex;
    }
  }
  .#{$buttonMenuClass} {
    display: none;
  }
}

.#{$buttonClass}.#{$buttonTopParentClass} {
  display: block;
  .#{$largeClass} &,
  .#{$breadcrumbClass}-out-0 & {
    display: none;
  }
}

.#{$largeClass} .#{$breadcrumbClass}-out-0.#{$closedClass} {
  > a {
    float: left;
  }
}

.#{$openClass} > ul > .#{$topParentClass},
.#{$topParentClass} {
  display: none;
}


.#{$firstLevelClass} {
  .#{$navTitleClass} {
    display: block;
    .#{$largeClass} {
      display: none;
    }
  }
  &.#{$openClass} .#{$topParentClass} {
    display: block;
  }
}
.#{$largeClass} {
  .#{$navTitleClass} {
    display: none;
  }
}

.#{$closedClass} .#{$breadcrumbClass}-out-0 > a {
  float: left;
}
