/* crumbnav Base Styles */

.no-js {
  //TODO Make no-js mode better.
}


.#{$breadcrumbClass} {
  > a {
    float: left;
  }
  &-in-1 > a,
  &.#{$currentClass} > a {
    float: none;
    overflow: hidden;
    .#{$largeModifier} & {
      float: left;
      overflow: visible;
    }
    .#{$largeModifier}.#{$openClass} & {
      float: none;
    }
  }
}

.#{$openClass} {
  > ul > li {
    display: block;
  }
}

.#{$closedClass} {
  > ul > li {
    display: none;
  }
}

.#{$firstLevelClass}.#{$breadcrumbClass}-length-0 {
  .#{$title} {
    display: block;
  }
  &.#{$openClass} .#{$topModifier} {
    display: block;
  }
}
