//SELECTORS
$navClass: crumbnav;
$navTitleClass: crumbnav__title;
$topParentClass: crumbnav__top-parent;
$parentClass: crumbnav__parent;
$moreMenuClass: crumbnav__more-menu;
$openClass: cn-open;
$closedClass: cn-close;
$currentClass: active;
$firstLevelClass: crumbnav--first-level;
$rootClass: crumbnav__root;
$breadcrumbClass: crumbnav-crumb;
$buttonClass: crumbnav__button;
$buttonMenuClass: crumbnav__button--menu;
$buttonMoreMenuClass: crumbnav__button--more-menu;
$buttonParentClass: crumbnav__button--parent;
$buttonTopParentClass: crumbnav__button--top-parent;
$buttonRootsMenuClass: crumbnav__button--root-menu;
$multipleRootsClass: crumbnav--multiple-roots;
$rootsOpenClass: cn-open-roots;
$rootsClosedClass: cn-close-roots;
$largeClass: crumbnav--large;

//COLORS
$navTextColor: #eeeeee;
$currentNavTextColor: #62c657;
$firstLevelColor: #3a3a3a;
$secondLevelColor: #585858;
$thirdLevelColor: #6d6d6d;
$fourthLevelColor: #969696;
$fifthLevelColor: #acacac;
$currentColor: #c6c6c6;
$arrowbuttonColor: #62c657;
$breadcrumbArrowColor: $arrowbuttonColor;

//DIMENSIONS
$elementHeight: 50px;
$borderWidth: 1px;
$indent: 15px;
