//SELECTORS

//Components
$nav: c-nav;
  // Elements
  $title: title;
  // Modifiers
  $largeModifier: -large;

$moreMenu: c-more;
  // Elements
  $popup: popup;

$item: c-item;
  // Modifiers
  $parentModifier: -parent;
  $topModifier: -top;

$button: c-button;
  // Modifiers
  $mainModifier: -main;
  $moreModifier: -more;
  $rootsModifier: -roots;
  // Uses $parentModifier.
  // Uses $topModifier.

$parentClass: crumbnav__parent;
$openClass: cn-open;
$closedClass: cn-close;
$currentClass: active;
$firstLevelClass: crumbnav--first-level;
$rootClass: crumbnav__root;
$breadcrumbClass: crumbnav-crumb;
$rootsOpenClass: cn-open-roots;
$rootsClosedClass: cn-close-roots;

//COLORS
$navTextColor: #eeeeee;
$currentNavTextColor: #62c657;
$firstLevelColor: #3a3a3a;
$secondLevelColor: #585858;
$thirdLevelColor: #6d6d6d;
$fourthLevelColor: #969696;
$fifthLevelColor: #acacac;
$currentColor: #c6c6c6;
$arrowbuttonColor: #62c657;
$breadcrumbArrowColor: $arrowbuttonColor;

//DIMENSIONS
$elementHeight: 50px;
$borderWidth: 1px;
$indent: 15px;
$linkPadding: 1em;
