/* crumbnav Theme Styles */
@import "mixins";

// Basic link styles
.#{$navClass} li > a {
  padding: 0 1em;
  color: $navTextColor;
  border-bottom: $borderWidth solid rgba(0, 0, 0, .15);
}
.#{$navClass}.#{$largeClass} li > a {
  border: none;
}

.#{$navClass} {
  > ul {
    margin: 0;
  }

  li.#{$currentClass} > a {
    color: $currentNavTextColor;
    font-weight: bold;
  }
  ul a,
  .#{$rootClass}.#{$breadcrumbClass}-in-0 {
    background: $firstLevelColor;
  }
  ul ul a,
  .#{$rootClass}.#{$breadcrumbClass}-in-1 {
    background: $secondLevelColor;
  }
  ul ul ul a,
  .#{$rootClass}.#{$breadcrumbClass}-in-2 {
    background: $thirdLevelColor;
  }
  ul ul ul ul a,
  .#{$rootClass}.#{$breadcrumbClass}-in-3 {
    background: $fourthLevelColor;
  }
  ul ul ul ul ul a,
  .#{$rootClass}.#{$breadcrumbClass}-in-4 {
    background: $fifthLevelColor;
  }
}

.#{$navTitleClass} {
  background-color: $firstLevelColor;
  color: $navTextColor;
}

.#{$breadcrumbClass} {

  & > a:after {
    @include triangle-outer(right, red, 10px);
    z-index: 1;
  }
  &.#{$breadcrumbClass}-out-0 > a:after {
    border-left-color: $firstLevelColor;
  }
  &.#{$breadcrumbClass}-out-1 > a:after {
    border-left-color: $secondLevelColor;
  }
  &.#{$breadcrumbClass}-out-2 > a:after {
    border-left-color: $thirdLevelColor;
  }
  &.#{$breadcrumbClass}-out-3 > a:after {
    border-left-color: $fourthLevelColor;
  }
  &.#{$currentClass} > a:after {
    border: none;
  }
}

// Indent current item
.#{$breadcrumbClass}-in-0 > a {
  padding-left: $indent*2;
}
.#{$openClass}.#{$multipleRootsClass} .#{$breadcrumbClass}-in-0 > a {
  padding-left: $elementHeight;
}

.#{$navClass} .#{$rootsOpenClass} {
  > a {
   padding-left: $elementHeight;
  }
  &.#{$breadcrumbClass} > a {
    color: $currentNavTextColor;
  }
}


//Submenu open only
.#{$breadcrumbClass}.#{$openClass} {
  ul li > a {
    padding-left: $indent*2;
  }
  ul ul li > a {
    padding-left: $indent*3;
  }
  ul ul ul > li > a {
    padding-left: $indent*4;
  }
  ul ul ul ul > li > a {
    padding-left: $indent*5;
  }
}


//Menu open
.#{$navClass}.#{$openClass} {

  ul li > a {
    padding-left: $indent*2;
  }
  ul ul li > a {
    padding-left: $indent*3;
  }
  ul ul ul > li > a {
    padding-left: $indent*4;
  }
  ul ul ul ul > li > a {
    padding-left: $indent*5;
  }
  //Remove right side triangles from open menu
  .#{$breadcrumbClass} > a:after{
    border: none;
  }
  //Open menu style breadcrumb trail indicators
  .#{$breadcrumbClass}:not(.#{$breadcrumbClass}-out-0) {
    &:after {
      @include triangle-inner(top, $breadcrumbArrowColor, 10px);
      z-index: 100;
    }
  }
}

//Multiroot menu open
.#{$navClass}.#{$multipleRootsClass}.#{$rootsOpenClass} {
  //TODO Refactor: dublicate code
  //Remove right side triangles from open menu
  .#{$breadcrumbClass} > a:after{
    border: none;
  }
}

//Submenu open with multiroot
.#{$navClass}.#{$multipleRootsClass} .#{$breadcrumbClass}.#{$openClass} {
  ul li > a {
    padding-left: $indent*1 + $elementHeight;
  }
  ul ul li > a {
    padding-left: $indent*2 + $elementHeight;
  }
  ul ul ul > li > a {
    padding-left: $indent*3 + $elementHeight;
  }
  ul ul ul ul > li > a {
    padding-left: $indent*4 + $elementHeight;
  }
  ul ul ul ul ul > li > a {
    padding-left: $indent*5 + $elementHeight;
  }
}

.#{$buttonClass} {
  background: #acaca1;
  background: rgba(0,0,0,.075);
  text-align: center;
  > i {
    border: none;
    color: #666;
  }
}

.#{$buttonMenuClass} > i {
  @include triangle-center(bottom, $arrowbuttonColor, 10px);
}
.#{$buttonMenuClass}.#{$openClass} > i {
  @include triangle-center(top, $arrowbuttonColor, 10px);
}
.#{$buttonRootsMenuClass} > i {
  @include triangle-center(left, $arrowbuttonColor, 10px);
}
.#{$buttonRootsMenuClass}.#{$rootsOpenClass} > i {
  @include triangle-center(right, $arrowbuttonColor, 10px);
}

.#{$buttonParentClass},
.#{$buttonTopParentClass},
.#{$buttonMoreMenuClass} {
  background: #acaca1;
  background: rgba(0,0,0,.075);
  text-align: center;
  > i {
    border: none;
    color: #666;
    background: url("../img/plus.png") center center no-repeat;
  }
  .#{$openClass} > & {
    > i {
      //Submenu button icon
      background: url("../img/minus.png") center center no-repeat;
    }
  }
}

@media (max-width: 600px) {
  .#{$firstLevelClass}.#{$largeClass} {
    > ul > li {
      position: static;
    }
    > ul > li > ul {
      position: absolute;
      width: 100%;
      left: 0;
      > li {
        position: relative;
      }
    }
  }
}
