.#{$nav} {
  position: relative;

  > .#{$title} {
    height: $elementHeight;
    padding: 0 0 0 $linkPadding;
    line-height: $elementHeight;
  }

  ul {
    position: relative;
    list-style: none;
    padding: 0 0 0 $linkPadding*2;
    .js & {
      padding: 0;
    }
  }
}

@import "nav--lengths";
@import "nav--closed";
@import "nav--open";
@import "nav--roots-open";
@import "nav--large";
@import "nav--large--closed";
@import "nav--large--open";
@import "nav--large--roots-open";