.#{$nav}.#{$openClass} {

  .#{$button} {
    display: block;
  }
  .#{$breadcrumbClass} > a {
    float: none;
  }
  .-out-1 > .#{$button} {
    top: 0;
  }
  .#{$item}.#{$breadcrumbClass}, .#{$item}.#{$currentClass} {
    //display: none;
  }
  .#{$item}.#{$breadcrumbClass}.#{$openClass},
  .#{$item}.#{$breadcrumbClass}.#{$openClass} > ul > .#{$item} {
    display: block;
  }

  .-in-1 > .#{$button} {
    top: 0;
  }
}