.#{$nav}.#{$rootsOpenClass} {
  .#{$currentClass}.-out-0 {
    display: block;
  }
}
.#{$nav} .#{$rootsOpenClass} {
  display: block;
  //TODO Refactor?
  &.#{$parentModifier}.#{$breadcrumbClass} > a {
    float: none;
  }
}