.#{$nav}.#{$openClass} {

  .#{$button} {
    display: block;
  }
  .#{$breadcrumbClass} > a {
    float: none;
  }
  .-out-1 > .#{$button} {
    top: 0;
  }
  li.#{$breadcrumbClass}, li.#{$currentClass} {
    //display: none;
  }
  li.#{$breadcrumbClass}.#{$openClass},
  li.#{$breadcrumbClass}.#{$openClass} > ul > li {
    display: block;
  }

  .-in-1 > .#{$button} {
    top: 0;
  }
}