// Show breadcrumb elements when the menu is closed.
.#{$navClass}.#{$closedClass} li.#{$breadcrumbClass} {
  display: block;
}

// Prevent overlap with roots menu button.
.#{$navClass} li.#{$breadcrumbClass}-out-0 > a {
  padding-left: $elementHeight;
}

// Two items in breadcrumb.
.#{$navClass}-length-2 {
  // Top parent is not floated in the breadcrumb for mobile.
  &.#{$closedClass}:not(.#{$largeClass}) {
    .#{$topParentClass} > a {
      float: none;
    }
  }
}

// Current item siblings
.#{$breadcrumbClass}-in-1 > ul > li {

  // If large and closed:
  .#{$largeClass}.#{$closedClass} & {
    display: block;
    float: left;
    > .#{$buttonParentClass} {
      display: none;
    }
  }

}

// Float breadcrumb items when menu is closed.
.#{$closedClass} .#{$breadcrumbClass} > a {
  float: left;
}

// Don't float breadcrumb items when first level is current.
.#{$firstLevelClass}.#{$closedClass} .#{$breadcrumbClass} > a {
  float: none;
}

// Make breadcrumb links clickable.
.#{$breadcrumbClass}-out-0 > a {z-index: 5;}
.#{$breadcrumbClass}-out-1 > a {z-index: 4;}
.#{$breadcrumbClass}-out-2 > a {z-index: 3;}
.#{$breadcrumbClass}-out-3 > a {z-index: 2;}
.#{$breadcrumbClass}-out-4 > a {z-index: 1;}
