%button {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  width: $elementHeight;
  height: $elementHeight;
  cursor: pointer;
  &:hover {
    cursor: pointer;
  }
  > i {
    position: relative;
    height: $elementHeight;
    display: block;
  }
}

.#{$button} {
  @extend %button;
}

@import "button--top-parent";
@import "button--contextual-menu";
@import "button--menu";
@import "button--roots-menu";
@import "button--more-menu";
