.#{$item} {
  min-height: $elementHeight;
  line-height: $elementHeight;
  > a {
    position: relative;
    display: block;
    white-space: nowrap;
  }

  &.#{$parentModifier} {
    position: relative;
  }

  &.#{$topModifier} {
    position: relative;

    .#{$openClass}:not(.#{$nav}.-length-0) > ul > &:not(.#{$breadcrumbClass}) {
      display: none;
    }
  }

  &.#{$currentClass} a {
    clear: both;
    // If large:
    .#{$largeModifier} & {
      clear: none;
    }
  }
}
