.#{$navClass} {
  li {
    min-height: $elementHeight;
    line-height: $elementHeight;
  }
  li > a {
    position: relative;
    display: block;
    white-space: nowrap;
  }
}

@import "item--top-parent";
