.#{$navTitleClass} {
  display: none;
  height: $elementHeight;
  padding: 0 0 0 1em;
  line-height: $elementHeight;
  .#{$navClass}-length-0 & {
    display: block;
  }
  .#{$largeClass} & {
    display: none;
  }
}
